<section class="products__table">
  <h1 class="titulo">Productos</h1>
  <div class="table__categories">
    {{#each products}}
      {{#if this.available}}
      <article class="categories__item">
        <div class="item__foto">
          <div><a href={{this.thumbnail.[0]}} target="_blank"><img class="thumbnail" src={{this.thumbnail.[0]}} alt={{this.thumbnail.[0]}}></a></div>
        </div>
        <div class="item__texto">
          <div class="id">Id: {{this.id}}</div>
          <div class="code">Code: {{this.code}}</div>
          <div class="category">Category: {{this.category}}</div>
          <div class="title">Title: {{this.title}}</div>
          <div class="price">Price: {{this.price}}</div>
          <div class="stock">Stock: {{this.stock}}</div>
          <div class="description">Description: {{this.description}}</div>
        </div>
      </article>
      {{/if}}
    {{/each}}
  </div>
</section>

<script src="/socket.io/socket.io.js"></script>
<script src="home.js"></script>